{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <div class="container text-center mt-5">
        <h1>Bienvenue sur le site Wild Séries</h1>
    </div>
{% endblock %}